#full-section {
    display: flex;                  /* establish flex container */
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    padding-bottom: 10px;
}

.section-selections {
    width: 75%;
    max-width: 75%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 0px;
}

.section-results {
    width: 25%;
    max-width: 25%;
    display: block;
    margin-right: 1%;
}